#ignore folder with results from running the workflow
results/

# ignore nextflow log files and folder
.nextflow.lo*
.nextflow/

# ignore stupid apple files
.DS_Store

# ignore folder with kraken2 minidatabase
databases/kraken_2_mini

#ignore the datasets in the test_data folder
test_data/