/*
 *NEXTFLOW configuration file for the Solid Metagenomics Pipeline [SiMPle]
 * This is where you indicate where to find the data, the options and where to save the results
 */

/*
* Specify your input:
* How: you have a star as a wildcard. Everything up to that is
* the prefix for the group of files that you will get. Variable
* things (lane names, read numbers etc) are specified within
* curly brackets. Make sure that setsize matches the number of
* files that you get matching the prefix!
*/

/* specify what kind of executor to use:
 *  "local", "slurm", or another nextflow supported executor system.
 * where to store temporary files.
 * conda environments are stored with the temporary files
 */

/* profiles {

    local {
        workDir = "$USERWORK/Talos_temp"
        includeConfig 'configuration_files/standard.config'
    }
    slurm {
        workDir = "$USERWORK/Talos_temp"
        includeConfig 'configuration_files/slurm.config'
    }
} */

// specifying the working directory for all jobs
workDir = "$USERWORK/Talos_temp"

process {
    executor = 'slurm'
    clusterOptions = '--job-name=Talos --account=nn9305k --mem-per-cpu=4700M'
    queueSize = 24
    maxRetries = 3
    errorStrategy='retry'

    cpus = 20
    withLabel: small {cpus = 1}

    withLabel: medium {cpus = 4} 

    withLabel: large {cpus = 20}

    withLabel: everything {cpus = 40}

    //this is mostly for pilon, but can be used elsewhere too
    javaopts = '-Xmx12G'

    time = { 1.h * task.attempt }
    withLabel: longtime {time = { 24.h * task.attempt }}
}


process {
    executor='local'
    cpus = 2
    maxForks = 2
}